@inject MainViewModel Model

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Home</NavLink></li>
            <li class="nav-item"><NavLink href="/calculator" class="nav-link">Импеданс</NavLink></li>
        </ul>
    </header>
</div>