@typeparam TItem

@if (Items is { } items)
{
    if (ChildContent is { } template)
    {
        <ol @attributes=@ListAttributes>
            @foreach (var item in items)
            {
                <li>@template(item)</li>
            }
        </ol>
    }
    else
    {
        <ol @attributes=@ListAttributes>
            @foreach (var item in items)
            {
                <li>@item</li>
            }
        </ol>
    }
}

@code {

    [Parameter]
    public Dictionary<string, object> ListAttributes { get; set; } = new(StringComparer.OrdinalIgnoreCase);

    [Parameter]
    public RenderFragment<TItem>? ChildContent { get; set; }

    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }
}