@typeparam TItem

@if (Items is { } items)
{
    if (RowTemplate is { } row)
    {
        <table class="table">
            <thead>
            <tr>@TableHeader</tr>
            </thead>
            <tbody>
            @foreach (var item in items)
            {
                <tr>@row(item)</tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>@TableHeader</tr>
            </thead>
            <tbody>
            @foreach (var item in items)
            {
                <tr>item</tr>
            }
            </tbody>
        </table>
    }
}

@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }
}