@typeparam TItem

@if (Items is { } items)
{
    if (ItemTemplate is { } template)
    {
        <ul>
            @foreach (var item in items)
            {
                <li>@template(item)</li>
            }
        </ul>
    }
    else
    {
        <ul>
            @foreach (var item in items)
            {
                <li>@item</li>
            }
        </ul>
    }
}

@code {

    [Parameter]
    public RenderFragment<TItem>? ItemTemplate { get; set; }

    [Parameter]
    public IEnumerable<TItem>? Items { get; set; }
}