@page "/calculator"
@page "/calculator/{CalculatorName}"
@inject MainViewModel Model

<div class="row">
    <div class="col-md-3">
        <CalculatorsMenu/>
    </div>
    <div class="col-md-5">
        @if (CalculatorModel is { } model)
        {
            <CalculatorView Calculator="model"/>
        }
    </div>
</div>

@code
{
    [Parameter]
    public string? CalculatorName { get; set; }

    public CalculatorViewModel? CalculatorModel => Model.GetCalculatorByTypeName(CalculatorName is { Length: > 0 } name ? name : "Coaxial");
}
