@page "/"
@inject MainViewModel Model

<PageTitle>Калькулятор сопротивлений линий передачи</PageTitle>

<h3>Линии передачи</h3>

<br/>

<UlTemplate Items="Model.Calculators">
    <ItemTemplate>
        <NavLink href="@($"/calculator/{context.TypeName}")">@context.Name</NavLink>
    </ItemTemplate>
</UlTemplate>

<hr/>

<Grid></Grid>