@page "/"
@inject MainViewModel Model

<PageTitle>Калькулятор сопротивлений линий передачи</PageTitle>

<h3>Линии передачи</h3>

<br />

<UL Items="Model.Calculators" Context="calculator">
    <NavLink href="@($"/calculator/{calculator.TypeName}")">@calculator.Name</NavLink>
</UL>

<hr />

